@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satoshi-light";
  src: url("/src/assets/fonts/Satoshi-Light.otf");
}
@font-face {
  font-family: "satoshi-reg";
  src: url("/src/assets/fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: "satoshi-med";
  src: url("/src/assets/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "satoshi-bold";
  src: url("/src/assets/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: "satoshi-reg";
  src: url("/src/assets/fonts/Satoshi-Black.otf");
}

html,
body {
  @apply scroll-smooth;
}
section {
  @apply px-[24px] py-[32px];
}
p,
h2,
h3 {
  @apply text-center;
}
h2 {
  @apply font-satoshiBold text-base md:text-lg lg:text-xl;
}
h3 {
  @apply font-satoshiBold text-3xl lg:text-5xl my-[12px];
}
input,
textarea {
  @apply w-full bg-transparent outline-none border-b border-med-gray/50 focus:border-fresh-green transition py-[16px] font-satoshiMed text-cloud-gray text-sm;
}
.submit {
  @apply w-full py-[16px] bg-fresh-green font-satoshiBold text-white text-sm mt-[32px];
}
.ftext {
  @apply text-cloud-gray/50 text-left font-satoshiMed leading-relaxed py-[24px];
}
